<a href="https://colab.research.google.com/github/Tharun1525/PDS_1525_B_10/blob/main/lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Step 1: Create Sales Dataset with duplicates
data = {
    "Transaction_ID": [101, 102, 103, 104, 105, 102, 104],  # duplicates on purpose
    "Product": ["Laptop", "Mobile", "Tablet", "Headphones", "Charger", "Mobile", "Headphones"],
    "Amount": [75000, 25000, 18000, 5000, 1500, 25000, 5000]
}

sales_df = pd.DataFrame(data)

print("---- Original Sales Data ----")
print(sales_df)

# Step 2: Identify Duplicates
duplicate_count = sales_df.duplicated().sum()
print("\nNumber of duplicate rows:", duplicate_count)

# Step 3: Remove Duplicates
sales_cleaned = sales_df.drop_duplicates()

cleaned_duplicate_count = sales_cleaned.duplicated().sum()
print("\n---- Cleaned Sales Data ----")
print(sales_cleaned)

print("\nNumber of duplicate rows after cleaning:", cleaned_duplicate_count)

---- Original Sales Data ----
   Transaction_ID     Product  Amount
0             101      Laptop   75000
1             102      Mobile   25000
2             103      Tablet   18000
3             104  Headphones    5000
4             105     Charger    1500
5             102      Mobile   25000
6             104  Headphones    5000

Number of duplicate rows: 2

---- Cleaned Sales Data ----
   Transaction_ID     Product  Amount
0             101      Laptop   75000
1             102      Mobile   25000
2             103      Tablet   18000
3             104  Headphones    5000
4             105     Charger    1500

Number of duplicate rows after cleaning: 0

In [ ]:
import pandas as pd

employee_data = {
    "Employee_ID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"],
    "Salary": ["50000", "60000", "70000"],
    "Joining_Date": ["2023-01-15", "2023-03-10", "2023-07-05"]
}

emp_df = pd.DataFrame(employee_data)

print("---- Original Employee Data ----")
print(emp_df)
print("\nData Types Before Conversion:\n", emp_df.dtypes)

emp_df["Salary"] = pd.to_numeric(emp_df["Salary"])


emp_df["Joining_Date"] = pd.to_datetime(emp_df["Joining_Date"])

print("\n---- Cleaned Employee Data ----")
print(emp_df)
print("\nData Types After Conversion:\n", emp_df.dtypes)

---- Original Employee Data ----
   Employee_ID     Name Salary Joining_Date
0            1    Alice  50000   2023-01-15
1            2      Bob  60000   2023-03-10
2            3  Charlie  70000   2023-07-05

Data Types Before Conversion:
 Employee_ID      int64
Name            object
Salary          object
Joining_Date    object
dtype: object

---- Cleaned Employee Data ----
   Employee_ID     Name  Salary Joining_Date
0            1    Alice   50000   2023-01-15
1            2      Bob   60000   2023-03-10
2            3  Charlie   70000   2023-07-05

Data Types After Conversion:
 Employee_ID              int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object